<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.campcino.mapper.RatingMapper">

    <resultMap id="ProductRatingMap" type="com.ssafy.campcino.dto.responseDto.ProductRatingDto">
        <id property="ratingId" column="rating_id" />
        <result property="productId" column="product_id" />
        <result property="averageRating" column="average_rating" />
        <result property="totalReviews" column="total_reviews" />
    </resultMap>

    <!-- 평점 조회 -->
    <select id="findRatingByProductId" parameterType="int" resultMap="ProductRatingMap">
        SELECT
        rating_id,
        product_id,
        average_rating,
        total_reviews
        FROM tbl_product_ratings
        WHERE product_id = #{productId}
    </select>

    <!-- 평점 업데이트 -->
    <update id="updateRating" parameterType="com.ssafy.campcino.dto.responseDto.ProductRatingDto">
        UPDATE tbl_product_ratings
        SET average_rating = #{averageRating}, total_reviews = #{totalReviews}
        WHERE product_id = #{productId}
    </update>

    <!-- 평점 추가 -->
    <insert id="addRating" parameterType="com.ssafy.campcino.dto.responseDto.ProductRatingDto">
        INSERT INTO tbl_product_ratings (product_id, average_rating, total_reviews)
        VALUES (#{productId}, #{averageRating}, #{totalReviews})
    </insert>
</mapper>
